## Pymaceutical Analysis  
Febuary 22, 2019 
Scott McEachern

In [1]:
#- Import Libraries
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
#-- Load Datasets into DataFrame
# Mouse Data
mouseDataPath = os.path.join(".", "Resources", "mouse_drug_data.csv")

mouse_df = pd.read_csv(mouseDataPath)


# Trail Data
trailDataPath = os.path.join(".", "Resources", "clinicaltrial_Data.csv")

trail_df = pd.read_csv(trailDataPath)

In [13]:
#-- Create Single Dataset
#  Combine the data based on the mouse ID
trailWithMouse_df = pd.merge(trail_df, mouse_df, how='left', on=["Mouse ID", "Mouse ID"])

#- Preview Data
trailWithMouse_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [47]:
#-- Calculate Tumor Volumne Mean and Standard Error
#  Groups the data by drug and then loops through these groups of drugs and then groups by timepoint to 
#  Calculate the mean and standard error

#- Prepare Dictionary to store results
tumorResponseMeanData = {
    'Drug': [],
    'Timepoint': [],
    'Tumor Volume (mm3)': []
    }

tumorResponseErrData = {
    'Drug': [],
    'Timepoint': [],
    'Tumor Volume (mm3)': []
    }


#- Group By Drug
dataGroupedByDrug_dfGroupBy = trailWithMouse_df.groupby('Drug')


#- Calculate Results
for drugName, groupedDrug_df in dataGroupedByDrug_dfGroupBy:
    
    # Group by Timepoint
    dataGroupedByTime_dfGroupBy = groupedDrug_df.groupby('Timepoint')
    
    # Calculate Results for each timepoint
    for timePoint, groupedTime_df in dataGroupedByTime_dfGroupBy:
        
        # Set Name
        tumorResponseMeanData['Drug'].append(drugName)
        tumorResponseErrData['Drug'].append(drugName)
        
        # Timepoint
        tumorResponseMeanData['Timepoint'].append(timePoint)
        tumorResponseErrData['Timepoint'].append(timePoint)
        
        # Average
        tumorResponseMeanData['Tumor Volume (mm3)'].append(groupedTime_df['Tumor Volume (mm3)'].mean())
    
        # Standard Error
        tumorResponseErrData['Tumor Volume (mm3)'].append(groupedTime_df['Tumor Volume (mm3)'].std())


        
#- Create DataFrames
tumorResponseMean_df = pd.DataFrame(tumorResponseMeanData)

tumorResponseErr_df = pd.DataFrame(tumorResponseErrData)
 
                                                                             
#- Preview Mean Tumor Volume Data                                                                            
tumorResponseMean_df.head(10)

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325
5  Capomulin         25           39.939528
6  Capomulin         30           38.769339
7  Capomulin         35           37.816839
8  Capomulin         40           36.958001
9  Capomulin         45           36.236114

In [48]:
#- Preview Standard Error Tumor Volume Data
tumorResponseErr_df.head(10)

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            2.242964
2  Capomulin         10            3.513422
3  Capomulin         15            4.108369
4  Capomulin         20            4.362915
5  Capomulin         25            4.135268
6  Capomulin         30            4.383004
7  Capomulin         35            4.935447
8  Capomulin         40            5.607278
9  Capomulin         45            5.608969